header{
    width: 100%;
}
.header-contenct{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
i{
    color: $white-normal;
}
.header-icon{
    display: flex;
    gap: 14px;
}
.header-icon a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $red-light;
    }
}
@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}
.header-booton{
    border: 1px solid $white-normal;
    padding: 8px 35px;
    margin: 0px 0px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
}
.header-booton:hover{
    border: 1px solid $red-light;
    background-color: $red-light;
    transition: background-color 0.8s;
}
.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}
.header-logo img{
    width: 20%;
    height: 20%;
}
/*responsividade mobile*/

@media(max-width: 768px){
    .header-contenct{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        i{
            margin-top: 16px;
            font-size: 34px;
        }
    }

     .header-logo img{
        width: 160px;
        margin-top: 45px;
    }
    .header-booton{
        display: none;
    }
    
}
